@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200i,300,400,600,700');

body {
	font-family: "Source Sans Pro", sans-serif;
	font-size: 1.25em;
}

.wrapper {
	margin: 0;
	padding: 0;
}

.jumbo {
	background: url("images/roses1.jpg");
	height: 100vh;
	width: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	flex-wrap: wrap;

}

.heading {
	padding-left: 7.45%;
}

h1 {
	font-family: "Open Sans", sans-serif;
	font-size: 4.5em;
	color: #ffffff;

	padding-top: 1em;
	font-weight: bold;
	text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
	letter-spacing: 0.05em;

}

.jumbo p {
	color: #ffffff;
	font-family: "Source Sans Pro", sans-serif;

	letter-spacing: 0.75px;
	font-size: 22px;
	font-weight: 300;
	line-height: 25px;
}

.hover-effect:hover {
	-webkit-mask-image: linear-gradient(-75deg, rgba(0, 0, 0, .6) 30%, #000 50%, rgba(0, 0, 0, .6) 70%);
	-webkit-mask-size: 200%;
	animation: shine 2s infinite;
}


@-webkit-keyframes shine {
	from {
		-webkit-mask-position: 150%;
	}

	to {
		-webkit-mask-position: -50%;
	}
}

nav {
	padding-top: 20px;
	padding-left: 7.45%;
	width: 75%;
	height: 56px;
}

nav ul {
	list-style-type: none;

}

nav ul li {
	display: inline;
	font-size: 16px;
	color: #ffffff;
}

nav a {
	color: #ffffff;
	font-size: 16px;
	text-decoration: none;
	padding-left: 1.7em;
	letter-spacing: 0.05em;
}

/* content */

.flowers {
	margin: 50px 7.45%;
}

.flowers img {
	display: block;
	margin: auto;
	padding-bottom: 10px;
}

.row1,
.row2 {
	display: flex;
	justify-content: center;
	align-items: center;
}

.flower-row {
	padding-bottom: 40px;

}

h2 {
	font-family: "Open Sans", sans-serif;
	font-weight: bold;
	letter-spacing: 1px;
	font-size: 36px;
	text-transform: uppercase;
	padding-bottom: 10px;
	text-align: center;
}

.flower-row p {
	padding: 10px 30px;
}

@media screen and (max-width: 738px) {
	h2 {
		font-size: 28px;
	}
}
